// Fonts
/*$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;*/
$text-font-family: 'IRANSans', Tahoma, Arial, serif;
$heading-font-family: 'IRANSans', Tahoma, Arial, serif;

$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #212121 !default;
$fg-color: #FAFAFA !default;
$alt-bg-color: #000 !default;
$alt-fg-color: #E0E0E0 !default;
$link-color: #52d3aa !default;
